# Node modules
node_modules/

# Cypress output except videos
#cypress/screenshots/
cypress/reports/
cypress/downloads/

# OS/IDE files
.DS_Store
Thumbs.db
.vscode/
*.log

# Environment files - currently not available
.env
cypress.env.json

# Ignore lock files if not needed
package-lock.json

#Ignore Reports - Working on clean implementation
reports/